
.header-nav {
  background: #3b621c;
}
.header-nav .ul {
  display: inline-block;
  padding: 15px 25px 15px;
}
.li_k {
  padding: 15px 20px;
}
.header-nav .ul, .header-nav .li_k:visited {
  color: #fff;
  text-decoration: none;
  display: block;
}
.li_k:hover {
  background: #487922;
}